<a href="https://colab.research.google.com/github/sizah123/Big_Data/blob/pfe/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from pyspark.sql import SparkSession
import pandas as pd
spark = SparkSession.builder.appName('panda-and-spark').getOrCreate()

In [2]:
# prompt: install pyspark

!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 1.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=46bb0d89b93e7dbb1907d88e68b964879453e838104c2791d8af05cdc7866955
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [4]:
customer_raw = [(1, 'bob', 3462543658686),
           (2, 'rob', 9087567565439),
           (3, 'tim', 5436586999467),
           (4, 'tom', 8349756853250)]

customer_cols = ['id', 'name', 'credit_card_number']



orders_raw = [(1, 'ketchup', 'bob', 1.20),
           (2, 'rutabaga', 'bob', 3.35),
           (3, 'fake vegan meat', 'rob', 13.99),
           (4, 'cheesey poofs', 'tim', 3.99),
           (5, 'ice cream', 'tim', 4.95),
           (6, 'protein powder', 'tom', 49.95)]

orders_cols = ['id', 'product_name', 'customer', 'price']

In [5]:
customer_df = pd.DataFrame(customer_raw, columns=customer_cols)
orders_df = pd.DataFrame(orders_raw, columns=orders_cols)

customer_df

joined_df = pd.merge(customer_df, orders_df, how='inner', left_on='name', right_on='customer')
joined_df



## For self study. What happens if (4, 'tom', 8349756853250) in valuesA becomes (4, 'tod', 8349756853250)
## How do the results change?
## More sensibly; what if customers have not made any orders but we still require them in the result set?

   id_x name  credit_card_number  id_y     product_name customer  price
0     1  bob       3462543658686     1          ketchup      bob   1.20
1     1  bob       3462543658686     2         rutabaga      bob   3.35
2     2  rob       9087567565439     3  fake vegan meat      rob  13.99
3     3  tim       5436586999467     4    cheesey poofs      tim   3.99
4     3  tim       5436586999467     5        ice cream      tim   4.95
5     4  tom       8349756853250     6   protein powder      tom  49.95

In [6]:
customersDF = spark.createDataFrame(customer_raw, customer_cols)

ordersDF = spark.createDataFrame(orders_raw, orders_cols)

# Show tables
customersDF.show()
ordersDF.show()

+---+----+------------------+
| id|name|credit_card_number|
+---+----+------------------+
|  1| bob|     3462543658686|
|  2| rob|     9087567565439|
|  3| tim|     5436586999467|
|  4| tom|     8349756853250|
+---+----+------------------+

+---+---------------+--------+-----+
| id|   product_name|customer|price|
+---+---------------+--------+-----+
|  1|        ketchup|     bob|  1.2|
|  2|       rutabaga|     bob| 3.35|
|  3|fake vegan meat|     rob|13.99|
|  4|  cheesey poofs|     tim| 3.99|
|  5|      ice cream|     tim| 4.95|
|  6| protein powder|     tom|49.95|
+---+---------------+--------+-----+

In [7]:
joinedDF = customersDF.join(ordersDF, customersDF.name == ordersDF.customer)
joinedDF.show()

+---+----+------------------+---+---------------+--------+-----+
| id|name|credit_card_number| id|   product_name|customer|price|
+---+----+------------------+---+---------------+--------+-----+
|  1| bob|     3462543658686|  1|        ketchup|     bob|  1.2|
|  1| bob|     3462543658686|  2|       rutabaga|     bob| 3.35|
|  2| rob|     9087567565439|  3|fake vegan meat|     rob|13.99|
|  3| tim|     5436586999467|  4|  cheesey poofs|     tim| 3.99|
|  3| tim|     5436586999467|  5|      ice cream|     tim| 4.95|
|  4| tom|     8349756853250|  6| protein powder|     tom|49.95|
+---+----+------------------+---+---------------+--------+-----+

In [8]:
joined_df.groupby('name').agg({"price": ["sum"]})

      price
        sum
name
bob    4.55
rob   13.99
tim    8.94
tom   49.95

In [9]:
import pyspark.sql.functions as f

joinedDF.groupby('name').agg(f.sum('price').alias('total')).show()

+----+-----------------+
|name|            total|
+----+-----------------+
| bob|             4.55|
| rob|            13.99|
| tim|8.940000000000001|
| tom|            49.95|
+----+-----------------+

In [11]:
# save to the filesystem to prevent another load
! curl -o rows.csv https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  427M    0  427M    0     0  3834k      0 --:--:--  0:01:54 --:--:-- 2681k

In [12]:
import pandas as pd
nyc_df = pd.read_csv('rows.csv')

<ipython-input-12-a70f860f02a9>:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  nyc_df = pd.read_csv('rows.csv')

In [14]:
# number or rows

print(len(nyc_df))

# this is quite large so we will work with a sample while we experiment in pandas as least.

2118226

In [15]:
nyc_small = nyc_df.sample(frac=0.2, replace=False, random_state=1)

In [16]:
# we are also going to limit the columns to those we are going to work with

nyc_small = nyc_small[['CRASH DATE', 'CONTRIBUTING FACTOR VEHICLE 1',
                       'BOROUGH', 'VEHICLE TYPE CODE 1',
                       'NUMBER OF PERSONS INJURED']]

In [21]:
nyc_small.head(11)

,CRASH DATE,CONTRIBUTING FACTOR VEHICLE 1,BOROUGH,VEHICLE TYPE CODE 1,NUMBER OF PERSONS INJURED
430841,05/05/2019,Unsafe Speed,STATEN ISLAND,Station Wagon/Sport Utility Vehicle,0.0
1779911,04/15/2013,Other Electronic Device,QUEENS,PASSENGER VEHICLE,1.0
143509,06/15/2022,Failure to Yield Right-of-Way,BROOKLYN,NaN,1.0
400577,06/27/2019,Outside Car Distraction,NaN,TANK,0.0
1708603,07/19/2013,Unspecified,BROOKLYN,PASSENGER VEHICLE,0.0
942200,02/17/2017,Following Too Closely,QUEENS,Pick-up Truck,0.0
681526,04/12/2018,Driver Inattention/Distraction,QUEENS,Sedan,0.0
492374,01/31/2019,Unspecified,BRONX,Station Wagon/Sport Utility Vehicle,0.0
53439,10/22/2021,Unspecified,NaN,Station Wagon/Sport Utility Vehicle,2.0
1088227,06/16/2016,Failure to Yield Right-of-Way,BROOKLYN,4 dr sedan,0.0
1282223,08/28/2015,Unspecified,BROOKLYN,SPORT UTILITY / STATION WAGON,1.0

In [18]:
from pyspark.sql import SQLContext


# there are nan's in the frame with strings, and spark can't 'infer the schema', so we have to help it out
# by replacing them with empty strings and forcing the column to be a string

sdf_small = SQLContext(spark).createDataFrame(nyc_small.fillna('').astype('str'))


# Lets check the schema quickly

print(sdf_small.schema)

/usr/local/lib/python3.10/dist-packages/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

StructType([StructField('CRASH DATE', StringType(), True), StructField('CONTRIBUTING FACTOR VEHICLE 1', StringType(), True), StructField('BOROUGH', StringType(), True), StructField('VEHICLE TYPE CODE 1', StringType(), True), StructField('NUMBER OF PERSONS INJURED', StringType(), True)])

In [19]:
nyc_small.groupby('CRASH DATE')['CRASH DATE'].count().sort_values(ascending=False).head(5)

CRASH DATE
01/21/2014    246
02/03/2014    212
01/18/2015    209
05/19/2017    199
12/15/2017    198
Name: CRASH DATE, dtype: int64

In [25]:
# Convert Pandas DataFrame to PySpark DataFrame
nyc_small_spark = spark.createDataFrame(nyc_small)

In [26]:
#Question 1
# Group by 'CRASH DATE', count occurrences, sort in descending order, and take top 5
nyc_small_spark.groupBy('CRASH DATE') \
    .agg(count('CRASH DATE').alias('CrashCount')) \
    .orderBy('CrashCount', ascending=False) \
    .limit(5) \
    .show()

+----------+----------+
|CRASH DATE|CrashCount|
+----------+----------+
|01/21/2014|       246|
|02/03/2014|       212|
|01/18/2015|       209|
|05/19/2017|       199|
|11/15/2018|       198|
+----------+----------+

In [27]:
nyc_small.groupby('BOROUGH')['BOROUGH'].count().sort_values(ascending=False).head(5)

BOROUGH
BROOKLYN         92818
QUEENS           78333
MANHATTAN        65046
BRONX            43378
STATEN ISLAND    12270
Name: BOROUGH, dtype: int64

In [29]:
nyc_small_spark.groupBy('BOROUGH') \
    .agg(count('BOROUGH').alias('BoroughCount')) \
    .orderBy('BoroughCount', ascending=False) \
    .limit(6) \
    .show()

+-------------+------------+
|      BOROUGH|BoroughCount|
+-------------+------------+
|          NaN|      131800|
|     BROOKLYN|       92818|
|       QUEENS|       78333|
|    MANHATTAN|       65046|
|        BRONX|       43378|
|STATEN ISLAND|       12270|
+-------------+------------+

In [33]:
nyc_small[(nyc_small.BOROUGH == 'QUEENS')]['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

# you can also use a group by (to avoid the pandas value_counts function)

nyc_small[(nyc_small.BOROUGH == 'QUEENS')].groupby(
    'CONTRIBUTING FACTOR VEHICLE 1'
)['CONTRIBUTING FACTOR VEHICLE 1'].count().sort_values(ascending=False).head(5)

CONTRIBUTING FACTOR VEHICLE 1
Unspecified                       27394
Driver Inattention/Distraction    16605
Failure to Yield Right-of-Way      6682
Backing Unsafely                   3853
Following Too Closely              2804
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [30]:
# Filter by 'QUEENS' and group by 'CONTRIBUTING FACTOR VEHICLE 1', count occurrences
nyc_small_spark.filter(nyc_small_spark['BOROUGH'] == 'QUEENS') \
    .groupBy('CONTRIBUTING FACTOR VEHICLE 1') \
    .agg(count('CONTRIBUTING FACTOR VEHICLE 1').alias('FactorCount')) \
    .orderBy('FactorCount', ascending=False) \
    .show()

+-----------------------------+-----------+
|CONTRIBUTING FACTOR VEHICLE 1|FactorCount|
+-----------------------------+-----------+
|                  Unspecified|      27394|
|         Driver Inattentio...|      16605|
|         Failure to Yield ...|       6682|
|             Backing Unsafely|       3853|
|         Following Too Clo...|       2804|
|         Passing or Lane U...|       2156|
|          Passing Too Closely|       1799|
|         Traffic Control D...|       1697|
|           Turning Improperly|       1641|
|              Other Vehicular|       1283|
|              Fatigued/Drowsy|       1254|
|          Driver Inexperience|       1155|
|                 Unsafe Speed|       1103|
|          Alcohol Involvement|        997|
|         Unsafe Lane Changing|        752|
|            Pavement Slippery|        698|
|           Lost Consciousness|        662|
|         Prescription Medi...|        632|
|         Reaction to Uninv...|        593|
|          Physical Disability|        558|
+-----------------------------+-----------+
only showing top 20 rows

In [31]:
# Filter by 'QUEENS', group by 'CONTRIBUTING FACTOR VEHICLE 1', count and show top 5
nyc_small_spark.filter(nyc_small_spark['BOROUGH'] == 'QUEENS') \
    .groupBy('CONTRIBUTING FACTOR VEHICLE 1') \
    .agg(count('CONTRIBUTING FACTOR VEHICLE 1').alias('FactorCount')) \
    .orderBy('FactorCount', ascending=False) \
    .limit(5) \
    .show()

+-----------------------------+-----------+
|CONTRIBUTING FACTOR VEHICLE 1|FactorCount|
+-----------------------------+-----------+
|                  Unspecified|      27394|
|         Driver Inattentio...|      16605|
|         Failure to Yield ...|       6682|
|             Backing Unsafely|       3853|
|         Following Too Clo...|       2804|
+-----------------------------+-----------+

In [35]:
nyc_small.groupby(['VEHICLE TYPE CODE 1', 'BOROUGH'])['NUMBER OF PERSONS INJURED'].mean().sort_values(ascending=False).head(3)

VEHICLE TYPE CODE 1  BOROUGH
bobct                BROOKLYN    5.0
PICKUP               BRONX       4.0
BACKH                QUEENS      4.0
Name: NUMBER OF PERSONS INJURED, dtype: float64

In [36]:
from pyspark.sql.functions import mean


# Group by 'VEHICLE TYPE CODE 1' and 'BOROUGH', calculate the mean of 'NUMBER OF PERSONS INJURED'
nyc_small_spark.groupBy('VEHICLE TYPE CODE 1', 'BOROUGH') \
    .agg(mean('NUMBER OF PERSONS INJURED').alias('AvgInjuries')) \
    .orderBy('AvgInjuries', ascending=False) \
    .limit(5) \
    .show()

+--------------------+---------+-----------+
| VEHICLE TYPE CODE 1|  BOROUGH|AvgInjuries|
+--------------------+---------+-----------+
|Station Wagon/Spo...| BROOKLYN|        NaN|
|Station Wagon/Spo...|    BRONX|        NaN|
|Station Wagon/Spo...|MANHATTAN|        NaN|
|Station Wagon/Spo...|      NaN|        NaN|
|                Bike|MANHATTAN|        NaN|
+--------------------+---------+-----------+

In [37]:
from pyspark.sql.functions import mean

# Filter out rows where 'NUMBER OF PERSONS INJURED' is null or NaN
nyc_small_spark_filtered = nyc_small_spark.filter(nyc_small_spark['NUMBER OF PERSONS INJURED'].isNotNull())

# Group by 'VEHICLE TYPE CODE 1' and 'BOROUGH', calculate the mean of 'NUMBER OF PERSONS INJURED'
nyc_small_spark_filtered.groupBy('VEHICLE TYPE CODE 1', 'BOROUGH') \
    .agg(mean('NUMBER OF PERSONS INJURED').alias('AvgInjuries')) \
    .orderBy('AvgInjuries', ascending=False) \
    .limit(3) \
    .show()

+--------------------+---------+-----------+
| VEHICLE TYPE CODE 1|  BOROUGH|AvgInjuries|
+--------------------+---------+-----------+
|Station Wagon/Spo...|      NaN|        NaN|
|                Bike|MANHATTAN|        NaN|
|Station Wagon/Spo...| BROOKLYN|        NaN|
+--------------------+---------+-----------+